# Reading in File

In [1]:
import pandas as pd

In [19]:
df1 = pd.read_csv("SaCompanies.csv")
df1

,Rank,Company,Revenue(US$ millions),Profits(US$ millions),Industry
0,1,Eskom,"13,941","−1,292",Electric utility
1,2,Sasol,"12,989","−6,272",Chemistry
2,3,MTN Group,"12,238","1,341",Telecommunications
3,4,Shoprite Holdings,"10,802",230,Retail
4,5,Steinhoff International,"9,704","−2,910",Holding
5,6,Anglo American Platinum,"9,402","2,074",Mining
6,7,Sibanye Gold,"8,692","2,089",Mining
7,8,Spar Group,"8,479",134,Retail
8,9,Bidcorp,"8,227",78,Agroindustry
9,10,Vodacom Group,"6,707","1,165",Telecommunications
10,11,Pick n Pay Stores,"6,351",66,Retail
11,12,Naspers,"5,934","3,404",Holding
12,13,Massmart,"5,920",−120,Retail
13,14,Kumba Iron Ore,"5,466","2,036",Mining
14,15,Vodacom South Africa,"5,236",...,Telecommunications
15,16,Bidvest Group,"5,233",−13,Holding
16,17,Motus,"5,009",13,Automotive
17,18,Woolworths South Africa,"4,927",38,Retail
18,19,Impala Platinum,"4,766","1,125",Mining
19,20,Sappi,"4,609",−135,Pulp and paper
20,21,Transnet,"4,590",−572,Transport
21,22,Engen Petroleum,"4,555",−257,Oil and gas
22,23,AngloGold Ashanti,"4,427",971,Mining
23,24,Pepkor,"4,300",...,Holding
24,24,Datatec,"4,110",6,Information technology
25,26,Mediclinic International,"4,066",284,Healthcare
26,27,Gold Fields,"3,982",745,Mining
27,28,Remgro,"3,734",449,Holding
28,29,MultiChoice,"3,693",278,Telecommunications
29,30,Barloworld Limited,"3,390",−171,Conglomerate
30,31,Massmart Wholesale,"3,246",...,Wholesale
31,32,Imperial Logistics,"3,165",−15,Conglomerate
32,34,Telkom,"2,949",179,Telecommunications
33,35,Wilson Bayly Holmes-Ovcon,"2,939",−35,Construction
34,36,Transnet Freight Rail,"2,692",...,Transport
35,37,Massmart Retail,"2,654",...,Retail
36,38,Aspen Pharmacare,"2,637",315,Pharmaceuticals
37,39,Clicks Group,"2,463",128,Retail
38,40,Foschini Group,"2,428",−127,Retail
39,41,Super Group,"2,359",−11,Transport
40,42,RCL Foods,"2,162",68,Agroindustry
41,43,Tiger Brands,"2,033",71,Agroindustry
42,44,Harmony Gold,"1,995",−58,Mining
43,45,Exxaro,"1,974",716,Mining
44,46,Marikana,"1,833",947,Mining
45,47,Dis-Chem,"1,793",47,Healthcare
46,48,Life Healthcare Group,"1,732",3,Healthcare
47,49,ArcelorMittal South Africa,"1,681",−333,Steel
48,50,AECI,"1,645",11,Chemicals

In [17]:
df2 = pd.read_excel("Apocolypse Food Prep - Data Transformation.xlsx", sheet_name = 'Puchase Overview')
df2

,Apocolypse Food Prep Overview,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Location,Products,2022-01-01 00:00:00,2022-02-01 00:00:00,2022-03-01 00:00:00,2022-04-01 00:00:00,Grand Total
3,Costco,Bottled Water,4.25,4.49,4.8,4.89,18.43
4,Costco,Canned Vegetables,0.85,0.85,0.85,0.85,3.4
5,Costco,Dried Beans,20.99,22.99,22.99,23.99,90.96
6,Costco,Duct Tape,5,NaN,5.25,NaN,10.25
7,Costco,Flashlight,13,NaN,13,NaN,26
8,Costco,Milk,2.3,2.4,2.5,2.7,9.9
9,Costco,Rice,23,23.99,24.99,25.25,97.23
10,Costco,Rope,13.5,NaN,14,NaN,27.5
11,Costco,Water Filter,29,NaN,31,NaN,60
12,NaN,Costco Total,111.89,54.72,119.38,57.68,343.67
13,Target,Bottled Water,4.99,5.15,5.25,5.35,20.74
14,Target,Canned Vegetables,0.65,0.69,0.74,0.79,2.87
15,Target,Dried Beans,23.99,24.99,25.45,25.79,100.22
16,Target,Duct Tape,6,NaN,6.25,NaN,12.25
17,Target,Flashlight,12.5,NaN,12.75,NaN,25.25
18,Target,Milk,2.2,2.45,2.7,3,10.35
19,Target,Rice,22.99,23.25,24.25,24.75,95.24
20,Target,Rope,15,NaN,15.25,NaN,30.25
21,Target,Water Filter,38,NaN,39,NaN,77
22,NaN,Target Total,126.32,56.53,131.64,59.68,374.17
23,Walmart,Bottled Water,5,5.25,5.45,5.75,21.45
24,Walmart,Canned Vegetables,0.65,0.75,0.85,1,3.25
25,Walmart,Dried Beans,22.99,23.99,24.25,24.49,95.72
26,Walmart,Duct Tape,5,NaN,5.5,NaN,10.5
27,Walmart,Flashlight,10,NaN,11,NaN,21
28,Walmart,Milk,2,2.1,2.4,2.9,9.4
29,Walmart,Rice,25,25.75,26.99,26.99,104.73
30,Walmart,Rope,14,NaN,14.5,NaN,28.5
31,Walmart,Water Filter,39,NaN,39,NaN,78
32,NaN,Walmart Total,123.64,57.84,129.94,61.13,372.55
33,NaN,Grand Total,361.85,169.09,380.96,178.49,1090.39

In [20]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Rank                   49 non-null     int64
 1   Company                49 non-null     object
 2   Revenue(US$ millions)  49 non-null     object
 3   Profits(US$ millions)  49 non-null     object
 4   Industry               49 non-null     object
dtypes: int64(1), object(4)
memory usage: 2.0+ KB

In [22]:
df2.shape

(34, 7)

In [23]:
df1.head()

,Rank,Company,Revenue(US$ millions),Profits(US$ millions),Industry
0,1,Eskom,"13,941","−1,292",Electric utility
1,2,Sasol,"12,989","−6,272",Chemistry
2,3,MTN Group,"12,238","1,341",Telecommunications
3,4,Shoprite Holdings,"10,802",230,Retail
4,5,Steinhoff International,"9,704","−2,910",Holding

# Filtering And Ordering

In [24]:
df1[df1['Industry'] == 'Healthcare']

,Rank,Company,Revenue(US$ millions),Profits(US$ millions),Industry
25,26,Mediclinic International,"4,066",284,Healthcare
45,47,Dis-Chem,"1,793",47,Healthcare
46,48,Life Healthcare Group,"1,732",3,Healthcare

In [25]:
specific_industry = ['Healthcare', 'Information technology']
df1[df1['Industry'].isin(specific_industry)]

,Rank,Company,Revenue(US$ millions),Profits(US$ millions),Industry
24,24,Datatec,"4,110",6,Information technology
25,26,Mediclinic International,"4,066",284,Healthcare
45,47,Dis-Chem,"1,793",47,Healthcare
46,48,Life Healthcare Group,"1,732",3,Healthcare

In [27]:
df1 =df1.set_index('Industry')
df1

,Rank,Company,Revenue(US$ millions),Profits(US$ millions)
Industry,,,,
Electric utility,1,Eskom,"13,941","−1,292"
Chemistry,2,Sasol,"12,989","−6,272"
Telecommunications,3,MTN Group,"12,238","1,341"
Retail,4,Shoprite Holdings,"10,802",230
Holding,5,Steinhoff International,"9,704","−2,910"
Mining,6,Anglo American Platinum,"9,402","2,074"
Mining,7,Sibanye Gold,"8,692","2,089"
Retail,8,Spar Group,"8,479",134
Agroindustry,9,Bidcorp,"8,227",78
Telecommunications,10,Vodacom Group,"6,707","1,165"
Retail,11,Pick n Pay Stores,"6,351",66
Holding,12,Naspers,"5,934","3,404"
Retail,13,Massmart,"5,920",−120
Mining,14,Kumba Iron Ore,"5,466","2,036"
Telecommunications,15,Vodacom South Africa,"5,236",...
Holding,16,Bidvest Group,"5,233",−13
Automotive,17,Motus,"5,009",13
Retail,18,Woolworths South Africa,"4,927",38
Mining,19,Impala Platinum,"4,766","1,125"
Pulp and paper,20,Sappi,"4,609",−135
Transport,21,Transnet,"4,590",−572
Oil and gas,22,Engen Petroleum,"4,555",−257
Mining,23,AngloGold Ashanti,"4,427",971
Holding,24,Pepkor,"4,300",...
Information technology,24,Datatec,"4,110",6
Healthcare,26,Mediclinic International,"4,066",284
Mining,27,Gold Fields,"3,982",745
Holding,28,Remgro,"3,734",449
Telecommunications,29,MultiChoice,"3,693",278
Conglomerate,30,Barloworld Limited,"3,390",−171
Wholesale,31,Massmart Wholesale,"3,246",...
Conglomerate,32,Imperial Logistics,"3,165",−15
Telecommunications,34,Telkom,"2,949",179
Construction,35,Wilson Bayly Holmes-Ovcon,"2,939",−35
Transport,36,Transnet Freight Rail,"2,692",...
Retail,37,Massmart Retail,"2,654",...
Pharmaceuticals,38,Aspen Pharmacare,"2,637",315
Retail,39,Clicks Group,"2,463",128
Retail,40,Foschini Group,"2,428",−127
Transport,41,Super Group,"2,359",−11
Agroindustry,42,RCL Foods,"2,162",68
Agroindustry,43,Tiger Brands,"2,033",71
Mining,44,Harmony Gold,"1,995",−58
Mining,45,Exxaro,"1,974",716
Mining,46,Marikana,"1,833",947
Healthcare,47,Dis-Chem,"1,793",47
Healthcare,48,Life Healthcare Group,"1,732",3
Steel,49,ArcelorMittal South Africa,"1,681",−333
Chemicals,50,AECI,"1,645",11

In [46]:
Industry_profit = df1.filter(items = ['Company', 'Profits(US$ millions)'])
Industry_profit

                                           Company Profits(US$ millions)
Industry
Electric utility                             Eskom                −1,292
Chemistry                                    Sasol                −6,272
Telecommunications                       MTN Group                 1,341
Retail                           Shoprite Holdings                   230
Holding                    Steinhoff International                −2,910
Mining                     Anglo American Platinum                 2,074
Mining                                Sibanye Gold                 2,089
Retail                                  Spar Group                   134
Agroindustry                               Bidcorp                    78
Telecommunications                   Vodacom Group                 1,165
Retail                           Pick n Pay Stores                    66
Holding                                    Naspers                 3,404
Retail                                    Massmart                  −120
Mining                              Kumba Iron Ore                 2,036
Telecommunications            Vodacom South Africa                   ...
Holding                              Bidvest Group                   −13
Automotive                                   Motus                    13
Retail                     Woolworths South Africa                    38
Mining                             Impala Platinum                 1,125
Pulp and paper                               Sappi                  −135
Transport                                 Transnet                  −572
Oil and gas                        Engen Petroleum                  −257
Mining                           AngloGold Ashanti                   971
Holding                                     Pepkor                   ...
Information technology                     Datatec                     6
Healthcare                Mediclinic International                   284
Mining                                 Gold Fields                   745
Holding                                     Remgro                   449
Telecommunications                     MultiChoice                   278
Conglomerate                    Barloworld Limited                  −171
Wholesale                       Massmart Wholesale                   ...
Conglomerate                    Imperial Logistics                   −15
Telecommunications                          Telkom                   179
Construction             Wilson Bayly Holmes-Ovcon                   −35
Transport                    Transnet Freight Rail                   ...
Retail                             Massmart Retail                   ...
Pharmaceuticals                   Aspen Pharmacare                   315
Retail                                Clicks Group                   128
Retail                              Foschini Group                  −127
Transport                              Super Group                   −11
Agroindustry                             RCL Foods                    68
Agroindustry                          Tiger Brands                    71
Mining                                Harmony Gold                   −58
Mining                                      Exxaro                   716
Mining                                    Marikana                   947
Healthcare                                Dis-Chem                    47
Healthcare                   Life Healthcare Group                     3
Steel                   ArcelorMittal South Africa                  −333
Chemicals                                     AECI                    11

In [54]:
top_ten = Industry_profit.head(10)
top_ten

                                    Company Profits(US$ millions)
Industry
Electric utility                      Eskom                −1,292
Chemistry                             Sasol                −6,272
Telecommunications                MTN Group                 1,341
Retail                    Shoprite Holdings                   230
Holding             Steinhoff International                −2,910
Mining              Anglo American Platinum                 2,074
Mining                         Sibanye Gold                 2,089
Retail                           Spar Group                   134
Agroindustry                        Bidcorp                    78
Telecommunications            Vodacom Group                 1,165

In [85]:
top_ten_sort = top_ten.sort_values(by=['Profits(US$ millions)', 'Industry', 'Company'], ascending=[True, True, False])
top_ten_sort

                                    Company Profits(US$ millions)
Industry
Telecommunications            Vodacom Group                 1,165
Telecommunications                MTN Group                 1,341
Retail                           Spar Group                   134
Mining              Anglo American Platinum                 2,074
Mining                         Sibanye Gold                 2,089
Retail                    Shoprite Holdings                   230
Agroindustry                        Bidcorp                    78
Electric utility                      Eskom                −1,292
Holding             Steinhoff International                −2,910
Chemistry                             Sasol                −6,272

In [102]:
bottom_ten = Industry_profit.tail(10).sort_values(by='Profits(US$ millions)')
bottom_ten

                                 Company Profits(US$ millions)
Industry
Chemicals                           AECI                    11
Healthcare         Life Healthcare Group                     3
Healthcare                      Dis-Chem                    47
Agroindustry                   RCL Foods                    68
Agroindustry                Tiger Brands                    71
Mining                            Exxaro                   716
Mining                          Marikana                   947
Transport                    Super Group                   −11
Steel         ArcelorMittal South Africa                  −333
Mining                      Harmony Gold                   −58